.card-container {
  border-radius: 18px;
  border-width: 1px;
  border: 1px solid #f7f5f7;
}
.product-image {
  background: rgba(247, 245, 247, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.product-context {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.product-content {
  padding: 10px;
}
.product-btn {
  margin-top: 20px;
}
.product-price {
  font-family: Inter;
  font-weight:700;
  font-size: 18px;
  color: #667085;
}
.product-name {
  color: #667085;
  font-size: 16px;
  font-weight: 500;
}
