.container {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-btn {
  margin-top: -27px;
  display: flex;
  justify-content: center;
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
  }
}
.header {
  margin-left: 112px;
}
.cart {
  margin-left: 100px;
  height: 280px;
  border-radius: 20px;
}
.cart-details {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.search-cart {
  width: 300px;
  height: 30px;
  margin-left: 107px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 40px;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pages {
  display: flex;
  gap: 5px;
}
.cardheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.homescreen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.homecontainer {
  display: grid;
  justify-content: center;
  gap: 5px;
}
.handlelogin {
  display: flex;
  justify-content: center;
  button {
    cursor: pointer;
  }
}
.inputfield {
  display: flex;
  gap: 10px;
}
.cart-layout {
  display: flex;
  gap: 10px;
}
.Product-details {
  display: flex;
  align-items: center;
  padding: 40px;
}
.Each-Product {
  padding: 20px;
}
.additional-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back-button {
  margin: 10px;
}
.carditem {
  text-decoration: none;
  color: black;
}
