.comment-main {
  padding: 5px 0px 0px 50px;
  margin: 20px;
  button {
    padding: 10px 30px;
    display: flex;
    border: none;
    border-radius: 15px;
    background: rgba(58, 73, 128, 1);
    color: white;
    cursor: pointer;
    width: 150px;
    height: 35px;
    margin-top: 30px;
  }
}
.comment-header {
  margin: 70px 0px 0px 80px;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  color: #1d2939;
}
.comment-container {
  width: 850px;
  height: 50px;
  border-width: 1px;
  border-radius: 14px;
  color: #ffffff;
  border: 1px solid #dddddd;
}
.comment-box {
  padding: 10px 0px 0px 60px;
  margin: 20px;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  color: #1d2939;
}
.product-rate {
  padding: 10px 0px 0px 56px;
  margin: 20px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: #1d2939;
}
.title {
  margin: 8px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: #1d2939;
}
